<div class="w-full h-[64px] sm:h-[88px] md:h-[100px] bg-transparent py-[28px]">
    <div class="w-full h-full flex items-center justify-center">
        <div class="logo text-3xl">zipppy</div>

        <div class="flex flex-row ml-auto">
            <a href="" class="py-[5px] px-[10px] ml-[18px] ">Work</a>
            <a href="" class="py-[5px] px-[10px] ml-[18px] ">Services</a>
            <a href="" class="py-[5px] px-[10px] ml-[18px] ">About</a>
            <a href="" class="py-[5px] px-[10px] ml-[18px] ">Contact</a>
        </div>
    </div>
</div>